{% extends "proyectowebapp/base.html" %}

{% load static %}

{% block content %}

   <!-- Heading -->
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'proyectowebapp/img/cel.png'%}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-upper">Puntualidad</span>
            <span class="section-heading-lower">Ahorra tu tiempo reservando</span>
          </h2>
          <p class="mb-3">Reserva tu espacio de estacionamiento con un solo clic y olvídate de las preocupaciones.
          </p>
         
        </div>
      </div>
    </div>
  </section>


  
    <!-- Message -->
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Nos comprometemos contigo</span>
                <span class="section-heading-lower">Reserva fácil y rápido</span>
              </h2>
              <p class="mb-0">Con años de experiencia en la industria del estacionamiento, hemos perfeccionado nuestro servicio para brindarte la máxima tranquilidad y confianza en cada reserva.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}
   